@font-face {
    font-family: "Manrope";
    src: local("Manrope"), url(./assets/Manrope-VariableFont_wght.ttf);
}

* {
    font-family: "Manrope";
    font-weight: 800;
    font-size: 28px;
}

html,
body {
    min-height: 100svh;
    background-color: hsl(218, 23%, 16%);

    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0;
}
